/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome.css';

h1 {
    font-size: 6em;
    margin-bottom: 2em;
}

h2 {
    font-size: 4em;
    margin-bottom: 2em;
    text-decoration: none;
}
p {
    font-size: 2.35em;
}
.visibility_hidden{
  visibility: hidden;
}

 footer {
   background-color: #F8F8F8 !important;
   border-top: 1px solid #E7E7E7;
   position: fixed;
   left: 0;
   bottom: 0;
   height: 7em;
   width: 100%;
   z-index: 10;
     .camera{
       background-color: #f8f8f8;
       width: 196px;
       height: 200px;
       margin: 0 auto;
       border-radius: 50%;
       position: relative;
       bottom: 115px;
       border: gray solid 8px;
       box-shadow: 0px 15px 25px #888888;
       &:hover{
         box-shadow: 0px 0px 0px white;
       }

      }

 }
 .left{
   position: fixed;
   bottom: .3em;
   left: 2em;
   text-decoration: none;
   color: black !important;
   z-index: 100;
   font-size: 4em
 }
 .button{
   position: fixed;
   z-index: 1000;
   bottom: .2em;
   font-size: 3em;
   left: 40%;
   width: 20%;
   height: 13%;
   border-radius: 50%;
 }
 .right{
   position: fixed;
   bottom: .3em;
   right: .7em;
   text-decoration: none;
   color: black !important;
   z-index: 100;
   font-size: 4em;
 }
 .center-button-link{
   position: fixed;
    bottom: 1.2%;
    left: 40%;
    z-index: 1000;
    color: black;
    font-size: 3em;
    text-decoration: none;
    text-align: center;
    line-height: 59px;
    height: 190px;
    width: 196px;
    border-radius: 50%;
 }
 .center-button{
   position: fixed;
   z-index: 1000;
   bottom: 0.3em;
   font-size: 3em;
   left: 40%;
   width: 20%;
   height: 11.6%;
   border-radius: 50%;
 }
