body {
  background-color: blue;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
@media (min-width: 700px) {

    html,body  {background-color: black;}

    .yield {
    height: 750px;
    background-color: black;
}
.img_container {
max-height: 500px;
background-color: black;
overflow-y: auto;
}

.index_img {
margin: 10px;
float: left;
}
 }//end 700px
@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (device-width : 414px)
    and (device-height : 736px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 3)
    and (-webkit-device-pixel-ratio : 3)    {


html,body  {background-color: black;
      width: 414px;
    margin: 0;
  }

  .img_container {
    background-color: black;
    width: 414px;
    max-height: 656px;
    overflow-y: auto;
}
    .yield{width: 414px}

    img.index_img {
    width: 100%;
}

#buttons {
/* width: 300px; */
display: inline;
}

 }//en media
